.row-images {
	display: flex;
	justify-content: space-around;
}

.box-image {
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	flex-direction: column;
	&__item {
		position: relative;
		padding: 5px;
		&__curtain {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(0, 0, 0, .6);
			opacity: 0;
			display: flex;
			justify-content: center;
			&:hover {
				transition: .5s;
				opacity: 1;
			}
			&__text {
				display: flex;
				align-self: center;
			}
		}
		&__img {
			max-width: 100%;
		}
	}
	&_big {
		width: 50%;
	}
	&_small {
		width: 25%;
		justify-content: space-between;

	}
}